body {
  background-color: #2c2c2c;
}
.circle-1 {
  width: 60px;
  height: 60px;
  background-color: #ff4805;
  border-radius: 50%;
  position: absolute;
  transform: translate(-140px, -50px);
  transition: 0.5s;
}
.circle-2 {
  width: 100px;
  height: 100px;
  background-color: #07c400;
  border-radius: 50%;
  position: absolute;
  transform: translate(140px, 50px);
  transition: 0.5s;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}
.time {
  color: white;
}
.block {
  width: 300px;
  height: 300px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.clock {
  border: 1px solid #ffffff3f;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f8ff10;
  user-select: none;
  color: white;
  text-shadow: 1px 1px 2px black;
}
.b {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
}
.h {
  height: 60%;
  width: 14px;
  position: absolute;
}
.hh {
  background-color: rgb(228, 28, 55);
  height: 50%;
  width: 100%;
  border-radius: 10px;
}
.m {
  height: 76%;
  width: 10px;
  position: absolute;
}
.mm {
  background-color: rgb(71, 71, 255);
  height: 50%;
  width: 100%;
  border-radius: 10px;
}
.s {
  height: 90%;
  width: 5px;
  position: absolute;
}
.ss {
  background-color: white;
  height: 60%;
  width: 100%;
  border-radius: 10px;
}
i {
  height: 100%;
  width: 40px;
  position: absolute;
  text-align: center;
}
